<% content_for :panel do %>
    <h5>Glöm inte att anmäla dig innan <%= @season.deadline %>!</h5>
    <p><%=  @season.organization.name %> använder anmälningstjänsten Greyherd</p>
    <p></p>
<% end %>

<% content_for :breadcrumbs do %>
   <li><%=link_to @season.organization.name, @season.organization  %></li>
    <li><span><%= @season.name %></span></li>
<% end %>

<p id="notice"><%= notice %></p>

<h3><%=  @season.organization.name %></h3>
<h1><%= @season.name %></h1>
<h2>Period <%= @season.start %>–<%= @season.end %></h2>

<p>
  <b>Deadline:</b>
  <%= @season.deadline %>
</p>

<h2>Grupper:</h2>

<ul>
<% @season.groups.each do |group| %>

    <li><%= link_to group.name, group %>,
      <% if group.remaining_seats? %>

      <%= group.remaining_seats %> platser kvar
      <% elsif group.remaining_reserve_seats? %>

      <%= group.remaining_reserve_seats %> reservplatser kvar
          <%else%>
      alla platser upptagna
      <% end %>

          </li>

<% end %>
</ul>

