<p id="notice"><%= notice %></p>

<h1><%=  @group.season.organization.name %></h1>
<h2>Period <%= @group.season.start %>–<%= @group.season.end %></h2>

<h3><%= @group.name %></h3>


<p>
  <b>Beskrivning:</b>
  <%= @group.description %>
</p>

<p>
  <b>Antal platser:</b>
  <%= @group.capacity %>
</p>


<p><%= @group.registrations.count %> deltagare registrerade</p>

<p>
  <b>Antal lediga platser:</b>
  <%= @group.capacity - @group.registrations.count %> platser kvar
</p>

<%= link_to 'Tillbaka till gruppöversikt', @group.season %>
<%= link_to "Registrera dig", new_registration_path(:group => @group.id) %>
