<p id="notice"><%= notice %></p>


<h1><%= @group.name %></h1>


<p>
  <b>Description:</b>
  <%= @group.description %>
</p>

<p>
  <b>Url:</b>
  <%= @group.url %>
</p>

<p>
  <b>Antal platser:</b>
  <%= @group.capacity %>
</p>


<p><%= @group.registrations.count %> deltagare registrerade</p>

<p>
  <b>Antal lediga platser:</b>
  <%= @group.capacity - @group.registrations.count %> platser kvar
</p>

<%= link_to 'Back', groups_path %>
<%= link_to 'Registrera', registrations_path %>
