<%= form_for @registration, :html => {:class => "nice"} do |f| %>
    <script src="/javascripts/plugins/jquery.textchange.js"></script>
    <script src="/javascripts/plugins/jQuery.preventdoublesubmission.js"></script>
    <script src="/javascripts/form.js"></script>
      <link rel="stylesheet" href="/stylesheets/form.css">
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= @registration.errors.count %> fel hindrade registrering från att sparas:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <h2><%= @registration.group.name %></h2>

    <%= f.hidden_field :group_id %>

    <%= f.label :namn %>
    <%= f.text_field :name, :class => "medium input-text" %>

    <%= f.label :adress %>
    <%= f.text_field :address, :class => "medium input-text" %>

    <%= f.label :postnummer %>
    <%= f.text_field :zipcode, :class => "small input-text" %>

    <%= f.label :ort %>
    <%= f.text_field :city, :class => "small input-text" %>

  <!--  <div class="form-field error">   -->
    <%= f.label :personnummer %>
    <%= f.text_field :ssn, :class => "small input-text" %>
  <!--  <small>Personnumret måste vara riktigt.</small>
	</div>              -->
    <div class="arrow_box" id="ssn_info">I formatet ÅÅÅÅMMDD-NNNN</div>

    <%= f.label :mobiltelefon %>
    <%= f.text_field :mobile_phone, :class => "small input-text" %>

    <%= f.label :matallergier %>
  <%= f.text_field :allergies, :class => "input-text" %>

  <%= f.label :förälders_namn %>
  <%= f.text_field :parent_name, :class => "input-text" %>

  <%= f.label "Förälders e-post" %>
  <%= f.text_field :parent_email, :class => "input-text" %>

  <%= f.label :förälders_telefonnummer %>
  <%= f.text_field :parent_phone, :class => "small input-text" %>

  <%= f.label :övrig_information %>
  <%= f.text_area :extra_info%>

  <div class="actions">
    <%= f.submit :class => "button radius nice green", :value => "Spara anmälan", disable_with: "Anmälan skickas..."%>
  </div>
<% end %>
