# encoding: UTF-8
<% content_for :panel do %>
    <h5><%= @organization.name %></h5>
    <p></p>
<% end %>

<% content_for :notice do %>
    <%= notice %>
<% end %>

<h1>Anmälan <%= @registration.group.name %></h1>

<p>Vi har skickat mejl till <%= @registration.parent_email  %> med följande e-post. Om du inte fått mejlet bör du kolla i din spamfolder.</p>


<p><b>Välkommen till <%= @registration.group.name %>, vi ser fram emot att få träffa dig!</b></p>
<p>
  <%= @registration.group.mail_message %>
</p>
<address><%= @registration.group.sender_address %></address>

<%= link_to 'Back', organizations_path %>
