# encoding: UTF-8
<% content_for :panel do %>
    <h5><%= @registration.group.season.organization.name %></h5>
    <p></p>
<% end %>

<% content_for :notice do %>
    <%= notice %>
<% end %>

<h1>Anmälan <%= @registration.group.name %></h1>

<p>Vi har skickat mejl till <%= @registration.parent_email  %> med följande e-post. Om du inte fått mejlet bör du kolla i din spamfolder.</p>


<% unless @reserve %>
<p><b>Välkommen till <%= @registration.group.name %>, vi ser fram emot att få träffa dig!</b></p>
<p>
  <%= @registration.group.mail_message %>
</p>
    <% else %>

       <p><b>Du är på reservplats till <%= @registration.group.name %></b></p>

<p>Vi kommer att höra av oss senast i mitten av juli angående din plats.</p>

<p>Varma hälsningar</p>
    <% end %>
<address><%= @registration.group.sender_address %></address>

<%= link_to 'Back', season_path(@registration.group.season) %>
