<!DOCTYPE html>
<html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <title>Greyherd</title>
  <%= csrf_meta_tags %>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <!-- Included CSS Files -->
  <link rel="stylesheet" href="/stylesheets/foundation.css">
  <link rel="stylesheet" href="/stylesheets/app.css">

  <!--[if lt IE 9]>
  <link rel="stylesheet" href="/stylesheets/ie.css">
  <![endif]-->
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/modernizr.foundation.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.countdown.css">
  <script type="text/javascript" src="/javascripts/plugins/jquery.countdown.min.js"></script>
  <script type="text/javascript" src="/javascripts/plugins/jquery.countdown-sv.js"></script>


  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31716999-1']);
      _gaq.push(['_setDomainName', 'greyherd.com']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      function serverTime() {
          var time = null;
          $.ajax({url: '/sync/servertime',
              async: false, dataType: 'text',
              success: function(text) {
                  time = new Date(text);
              }, error: function(http, message, exc) {
                  time = new Date();
              }});
          return time;
      }
  </script>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="panel">
      <%= yield :panel %>
    </div>

    <ul class="breadcrumbs">
      <%= yield :breadcrumbs %>
    </ul>
    <div class="alert-box success">
      <%= yield :notice %>
      <a href="" class="close">&times;</a>
    </div>
    <div id="regcountdown"></div>
  </div>
  <div class="row">
    <div class="eight columns">
      <%= yield %>
    </div>
    <div class="four columns">
    </div>
  </div>
</div>

</body>
</html>
